//colors
$color-black: #000;
$color-white: #fff;

$color-primary: #144757;
$color-secondary: #e4eef2;
$color-tertiary: #b7c2d7;

//font
$font-family: sans-serif;

$font-size-xxl: 40px;
$font-size-xl: 32px;
$font-size-lg: 28px;
$font-size-md: 24px;
$font-size-sm: 20px;
$font-size-xsm: 16px;

$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-thin: 300;

//spacing
$spacing-xxl: 40px;
$spacing-xl: 30px;
$spacing-lg: 20px;
$spacing-md: 15px;
$spacing-sm: 10px;
$spacing-xsm: 8px;

//breakpoints
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xlg: 1400px;

//misc
$trans-fast: all 0.2s;
