.accordion {
  margin: $spacing-xsm 0 0;

  &s {
    margin: $spacing-lg 0 0;
  }

  &-head {
    padding: $spacing-md $spacing-lg;
    background-color: $color-primary;
    color: $color-white;
    cursor: pointer;
  }

  &-body {
    display: none;
    padding: $spacing-lg;
    background-color: $color-secondary;
  }

  &:first-child {
    margin: 0;
  }
}
