.sidebar {
  margin: 0 0 0 $spacing-xxl;
  padding: $spacing-xxl $spacing-xl;
  width: 300px;
  background-color: $color-primary;

  * {
    color: $color-white;
  }

  ul {
    border-left: 1px solid $color-white;
    margin: $spacing-lg 0 0;
    padding: 0 0 0 $spacing-lg;
  }

  li {
    padding: 0;

    a {
      transition: $trans-fast;

      &:hover {
        color: darken($color-white, 10%);
      }
    }

    &::before {
      display: none;
    }
  }

  .sticky {
    position: sticky;
    top: $spacing-xl;
  }

  .heading {
    border-color: $color-white;
    color: $color-white;
  }

  .cat {
    margin: $spacing-xl 0 0;

    &:first-child {
      margin: 0;
    }
  }
}
